<style>
  body{
    background-color: black;
    color:antiquewhite;
  }

  h2{
    color:goldenrod;
  }

  .left{
    margin-left: 0;
  }
</style>

<div class="container d-flex h-100">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <main class="px-3">
          <div class="left">
            <h2 class="head">Code Together Anywhere</h3>
          </div>
            <br>
            <p class="lead"><b>Revolutionize remote teamwork with real-time code collaboration and seamless communication. Break down geographical barriers and empower teams to work together effortlessly. Simultaneously code, share changes instantly, and eliminate merging conflicts. Our platform integrates chat and video calling, ensuring seamless communication and fostering efficient collaboration. Simply log in, create workspaces, and invite collaborators to join. Access saved workspaces and resume coding sessions effortlessly. Boost productivity, unleash creativity, and bring projects to fruition faster. Embrace the power of collaboration with our innovative Collaborative IDE. Elevate your coding experience today.</b></p>
        </main>
    </div>
    <img src= "/images/frontpage.png" style="width: 50%">

</div>


